<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-header">App Store</h1>

    <ul class="list-group" ng-repeat="app in appStoreCtrl.apps">

      <li class="list-group-item">
        <a href="#" uib-tooltip="{{app.name}}" ng-click="appStoreCtrl.viewAppDetails(app)">
          <h4>{{app.name}}</h4>
        </a>
        <div class="row">
          <div class="col-md-10">
            {{app.description}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <br>
            <strong>Requirements: {{app.reqrString}}</strong>
          </div>
        </div>
      </li>

    </ul>

  </div>
</div>
