<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <h1 class="page-header">Connections</h1>
    <ul class="list-group">
      <li class="list-group-item clearfix" ng-repeat="thirdPartyApi in connectCtrl.thirdPartyApis">
        <div class="col-xs-6">
          <h4><a ng-click="connectCtrl.viewConnectionDetails(thirdPartyApi)">{{thirdPartyApi.label}}</a></h4>
        </div>
        <div class="pull-right">
          <div ng-hide="thirdPartyApi.userConnectionEstablished">
            <button type="button" class="btn btn-primary" ng-click="connectCtrl.connectAcct(thirdPartyApi.provider)">Connect</button>
          </div>
          <div ng-show="thirdPartyApi.userConnectionEstablished">
            <button type="button" disabled class="btn btn-success" ng-click="connectCtrl.connectAcct(thirdPartyApi.provider)"><i class="glyphicon glyphicon-ok"></i>Connected</button>
          </div>
        </div>

      </li>
    </ul>


  </div>
</div>
