
<div class="container">

  <h1 class="page-header">My Dashboard</h1>

  <div class="col-md-6">
    <div class="col-md-12">

        <h3>
          My Favorite Apps
          <a type="button" class="btn btn-primary pull-right" ui-sref="appStore">
            <i class="glyphicon glyphicon-plus"></i>&nbsp&nbspMore Apps
          </a>
        </h3>



        <ul class="list-group" ng-repeat="app in dashboardCtrl.favoriteApps">
          <li class="list-group-item">
            <a href="#" ng-click="dashboardCtrl.viewUserAppView(app._id, app.name)">
              {{app.name}}
            </a>
            <button type="button" class="close" ng-click="dashboardCtrl.removeFromFavorites(app)" uib-tooltip="Remove from favorites" tooltip-placement="top-right">
              &times;
            </button>
          </li>
        </ul>

    </div>
  </div>


  <div class="col-md-6">
    <div class="col-md-12">

        <h3>
          My Connections
          <a type="button" class="btn btn-primary pull-right" ui-sref="connect">
            All Connections
          </a>
        </h3>

        <ul class="list-group" ng-repeat="connection in dashboardCtrl.myConnections">
          <li class="list-group-item">{{connection.label}}</li>
        </ul>

    </div>
  </div>
  </div>
</div>
