
<div class="container">

  <h1 class="page-header">My Dashboard</h1>

  <div class="col-md-6">
    <div class="col-md-12">

        <h3>
          My Favorite Apps
          <a type="button" class="btn btn-primary pull-right" ui-sref="appStore">
            <i class="glyphicon glyphicon-plus"></i>&nbsp&nbspMore Apps
          </a>
        </h3>


        <div class="panel panel-default clearfix dashboard-panels">
          <div class="col-xs-12">
            <div class="nothing-added-text" ng-hide="dashboardCtrl.favoriteApps.length">
              It looks like you haven't Favorited any apps. Click the "More Apps" button to start using apps. Or <a href="#" ui-sref="gettingStarted">click here for help getting started</a>.
            </div>
            <ul class="list-group" ng-repeat="app in dashboardCtrl.favoriteApps">
              <li class="list-group-item">
                <a href="#" ng-click="dashboardCtrl.viewUserAppView(app._id, app.name)">
                  {{app.name}}
                </a>
                <button type="button" class="close" ng-click="dashboardCtrl.removeFromFavorites(app)" uib-tooltip="Remove from favorites" tooltip-placement="top-right">
                  &times;
                </button>
              </li>
            </ul>
          </div>

        </div>


    </div>
  </div>


  <div class="col-md-6">
    <div class="col-md-12">

        <h3>
          My Connections
          <a type="button" class="btn btn-primary pull-right" ui-sref="connect">
            All Connections
          </a>
        </h3>

        <div class="panel panel-default clearfix dashboard-panels">
          <div class="col-xs-12">
            <div class="nothing-added-text" ng-hide="dashboardCtrl.myConnections.length">
              It looks like you haven't established any Connections. Click the "All Connections" button to connect some data sources. Or <a href="#" ui-sref="gettingStarted">click here for help getting started</a>.
            </div>
            <ul class="list-group" ng-repeat="connection in dashboardCtrl.myConnections">
              <li class="list-group-item">{{connection.label}}</li>
            </ul>
          </div>
        </div>


    </div>
  </div>
  </div>
</div>
